<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.situationline.build2"
		versionCode="3"
		version   = "3.0">
		<name>Situation Line</name>
		<description>
A Real Time Choose Your Own Adventure Game where players must keep a hostage crisis under control.		</description>
		<author href="www.utahcreates.com" email="customerservice@utahcreates.com">
UtahCreates
		</author>
		<preference name="phonegap-version" value="cli-5.2.0" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="true" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="true" />
		<preference name="show-splash-screen-spinner" value="false" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="true" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="true" />
		<preference name="android-minSdkVersion" value="19" />
		<preference name="android-installLocation" value="internalOnly" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x000000"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="true"/>
		<preference name="LoadingDialog" value=","/> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="true" />
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
		<gap:plugin name="org.apache.cordova.splashscreen"  />
		<icon src="res/iOS/Resources/icons/Icon.png" gap:platform="ios" width="57" height="57" />
		<icon src="res/iOS/Resources/icons/Icon-72.png" gap:platform="ios" width="72" height="72" />
		<icon src="res/iOS/Resources/icons/Icon114.png" gap:platform="ios" width="114" height="114" />
		<icon src="res/iOS/Resources/icons/Icon144.png" gap:platform="ios" width="144" height="144" />
		<icon src="res/iOS/Resources/icons/Icon-76.png" gap:platform="ios" width="76" height="76" />
		<icon src="res/iOS/Resources/icons/Icon-120.png" gap:platform="ios" width="120" height="120" />
		<icon src="res/iOS/Resources/icons/Icon-152.png" gap:platform="ios" width="152" height="152" />
		<icon src="res/Android/res/drawable/icon.png" gap:platform="android" gap:density="ldpi" />
		<icon src="res/Android/res/drawable-mdpi/icon.png" gap:platform="android" gap:density="mdpi" />
		<icon src="res/Android/res/drawable-hdpi/icon.png" gap:platform="android" gap:density="hdpi" />
		<icon src="res/Android/res/drawable-xhdpi/icon.png" gap:platform="android" gap:density="xhdpi" />
		<icon src="res/Android/res/drawable-xhdpi/icon.png" gap:platform="android" gap:density="xxxhdpi" />
		<icon src="res/WindowsPhone/Icons/ApplicationIcon-62x62.png" gap:platform="winphone" />
		<gap:splash src="res/Android/res/drawable-mdpi/screen.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="res/Android/res/drawable-hdpi/screen.png" gap:platform="android" gap:density="hdpi" />
		<gap:plugin name="de.neofonie.cordova.plugin.nativeaudio"  />
	</widget>